html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 13px;
    background-color: rgba(237, 242, 248, 155);
    margin: 0;


}


.container {
    
}


.card {
    border-radius: 10px;
    box-shadow: 10px 0px 50px 0px rgba(0, 0, 0, 0.15);
    margin: 20px;
    padding: 30px;

}


.top-left {
    background-color: rgba(115, 63, 200, 255);
    background-image: url('images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: top right 20%;
    background-size: 20%;
}

.top-mid {
    background-color: #49556b;
}

.top-right {
    background-color: #ffffff;
}

.bot-left {
    background-color: #ffffff;
}

.bot-mid {
    background-color: #18202d;
}


/* Profiles */

.white {
    color: #fff;
}

.dark {
    color: #494c52;
}

.dark2 {
    color: #3a3e49;
}

.low-op {
    opacity: 0.5;
}

.top-profile {
    display: flex;
    gap: 20px;
    align-items: center;
    line-height: 20px;
}

.top-profile img {
    border-radius: 50px;
    width: 40px;
}

.img-border {
    border: 2px solid rgba(168, 115, 173, 255);
}

.name {
    font-size: 0.9rem;
    font-weight: 700;
}

.verify {
    opacity: 0.5;
}


.desc {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 15px 0 30px 0;
    line-height: 30px;
    opacity: .9;
}

.quote {
    opacity: .7;
    line-height: 23px;
    font-size: 0.85rem;
}

@media (min-width: 760px){

    body{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 0.5fr .8fr;
        gap: 10px;
        width: 90%;
        max-width: 1260px;
        margin: 30px 0;
        /* min-height: 70%; */
        /* position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); */
        /* justify-content: center;
        align-items: center; */
        
    }

    .card {
        margin: 0px;
    }

    .col-span-2 {
        grid-column: 1 / span 2;
    }

    .card:last-child{
        grid-column: span 4;
        grid-row: 3;
    }
    
    .card:nth-child(2){
        grid-column: span 2;
    }

    .card:nth-child(3){
        grid-column: span 2;
    }

    .card:nth-child(4){
        grid-column: 3 / span 2;
        grid-row: 1;
    }

}

@media (min-width: 1260px) {

    body{
        width: 100vw;
        width: 100dvw;
        height: 100vh;
        height: 100dvh;
        
    }
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 30px;
        max-width: 1260px;
        height: 72%;
        /* min-height: 70%; */
        /* position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); */
        /* justify-content: center;
        align-items: center; */
        
    }

    .card {
        margin: 0px;
    }

    .card:last-child {
        grid-column: 4;
        grid-row: 1 / span 2;
    }

    .col-span-2 {
        grid-column: span 2;
    }
    
    .card:nth-child(2){
        grid-column: unset;
    }

    .card:nth-child(3){
        grid-column: unset;
    }

    .card:nth-child(4){
        grid-column: 2 / span 2;
        grid-row: 2;
    }
}
